 <head>
    <title>Google Auth Test</title>
    <meta name = "google-signin-client_id" content="1091033718500-7b3th9hor8oehceki8rjatn51r90eruv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

  <body>
    <h1>Testing...</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div id = "content"></div>
    <button onclick="signOut()">Sign Out</button>

    <p>
      <a href="">Go to login page (testing)</a>
    </p>
    <form>
	    <input name="userName1" id="userName1" value="">
      <input name="email1" id="email1" value="">
      <input name="profilePic1" id="profilePic1" value="">
	  </form>
  </body>
  <script>
      function onSignIn(googleUser){
        var profile = googleUser.getBasicProfile()
        console.log("User is " + JSON.stringify(googleUser.getBasicProfile()))
        var element = document.querySelector('#content')
        element.innerText = profile.getName();
        
        var image = document.createElement('img')
        image.setAttribute('src',profile.getImageUrl())
        element.append(image)

        var googleProfile = googleUser.getBasicProfile()
        var userName = googleProfile.getName()
        var email = googleProfile.getEmail()
        var profilePic = googleProfile.getImageUrl()
        
        document.forms[0].userName1.value = userName;
        document.forms[0].email1.value = email;
        document.forms[0].profilePic1.value = profilePic;
      }
      function signOut(){
        gapi.auth2.getAuthInstance().signOut().then(function(){
          console.log('User signed out');
          window.location.reload();
        })
      }
  </script>
</html>