 {% extends 'base.html' %}
{% block title %}Google Authentication{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/googlelogin.css') }}">
<meta name = "google-signin-client_id" content="1091033718500-7b3th9hor8oehceki8rjatn51r90eruv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
{% block body %}

 <body>
    <div class="main">
      <h1>Sign in with your Google Account</h1>
    
    <div class="sign-in-out-buttons">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <div id = "content"></div>
    </div>
    
    <button onclick="signOut()">Sign Out</button>
    <form>
	    <input name="userName1" id="userName1" value="">
      <input name="email1" id="email1" value="">
      <input name="profilePic1" id="profilePic1" value="">
	  </form>
    <div class="button">
      <a href="personal">Continue to Personal page</a>
    </div>
    </div>
  </body>
  <script>
      function onSignIn(googleUser){
        var profile = googleUser.getBasicProfile()
        console.log("User is " + JSON.stringify(googleUser.getBasicProfile()))
        var element = document.querySelector('#content')
        element.innerText = profile.getName();
        
        var image = document.createElement('img')
        image.setAttribute('src',profile.getImageUrl())
        element.append(image)

        var googleProfile = googleUser.getBasicProfile()
        var userName = googleProfile.getName()
        var email = googleProfile.getEmail()
        var profilePic = googleProfile.getImageUrl()
        
        document.forms[0].userName1.value = userName;
        document.forms[0].email1.value = email;
        document.forms[0].profilePic1.value = profilePic;
      }
      function signOut(){
        gapi.auth2.getAuthInstance().signOut().then(function(){
          console.log('User signed out');
          window.location.reload();
        })
      }
  </script>

{% endblock %}