{% extends 'base.html' %}

{% block title %}My Page{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
<h3>Training Information</h3>  
<table border=5>  
    <thead>
        <td>User:</td>  
        <td>Date Skated</td>  
        <td>Distance Skated</td>  
        <td>Time Spent</td>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["email_id"]}}</td>
            <td>{{row["date_skated"]}}</td>  
            <td>{{row["distance_skated"]}}</td>  
            <td>{{row["time_spent"]}}</td>  
        </tr>  
      
    {% endfor %}  
</table>  

<br><br>  
{% endblock %}