{% extends 'base.html' %}

{% block title %}Record your Training on Skatezy{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/recordTraining.css') }}">
{% endblock %}
{% block body %}
   <div class="sidebar col-lg-3">
        <img src="" alt="Profile Picture">
        <div class="button"><a href="">My Feed</a></div>
        <div class="button"><a href="">Team Page</a></div>
        <div class="button"><a href="">World Stats</a></div>
        <img src="" alt="Logo">
    </div>
<div class="splash-screen-left col-lg-6">
  <h2>Record my training:</h2>
  <form action="/saverecord" method="POST">
    <p name="date_skated">
      {{form.date_skated.label}}<br>
      {{form.date_skated(size=30)}}
    </p>
    <p name="distance_skated">
      {{form.distance_skated.label}}<br>
      {{form.distance_ska ted(size=30)}}
    </p>
    <p name="time_spent">
      {{form.time_spent.label}}<br>
      {{form.time_spent(size=30)}}
    </p>
    <p>
      {{form.video_uploaded.label}}<br>
      {{form.video_uploaded(size=30)}}
    </p>
    <p>{{form.submit()}}</p>
  </form>
        <!--<div class="log-in-buttons">-->
{% endblock %}