{% extends 'base.html' %}

{% block title %}Record your Training on Skatezy{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/recordTraining.css') }}">
{% endblock %}
{% block body %}
 <head>
    <title>Record Training</title>
    <meta name = "google-signin-client_id" content="1091033718500-7b3th9hor8oehceki8rjatn51r90eruv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>

<div class="sidebar col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="d-none g-signin2" data-onsuccess="getImage"></div>
        <div id = "content"></div>
        <!--<img src="{{ url_for('static',filename='assets/profilepicture.png') }}"alt="Profile Picture">
        -->
        <div class="button"><a href="personal">Profile</a></div>
        <div class="button"><a href="team">Team Page</a></div>
        <div class="button"><a href="registerTeam">Team Registration</a></div>
        <img src="{{ url_for('static',filename='assets/Skatezy.png') }}" alt="Logo">
</div>
<div class="main col-sm-9 col-md-9 col-lg-9 col-xl-9">
  <h1>Record my training:</h1>
  <form action="/saverecord" method="POST">
    <p name="date_skated">
      {{form.date_skated.label}}<br>
      {{form.date_skated(size=30)}}
    </p>
    <p name="distance_skated">
      {{form.distance_skated.label}}<br>
      {{form.distance_skated(size=30)}}
    </p>
    <p name="time_spent">
      {{form.time_spent.label}}<br>
      {{form.time_spent(size=30)}}
    </p>
    <p>
      {{form.video_uploaded.label}}<br>
      {{form.video_uploaded(size=30)}}
    </p>
    <p>{{form.submit()}}</p>
  </form>
  </div>
        <!--<div class="log-in-buttons">-->
<!--profile picture -->
<script>
function getImage(googleUser){
        var profile = googleUser.getBasicProfile()
        var element = document.querySelector('#content')
        var image = document.createElement('img')
        image.setAttribute('src',profile.getImageUrl())
        element.append(image)
      }
</script> 


{% endblock %}