{% extends 'base.html' %}

{% block title %}Register your Team on Skatezy{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/recordTraining.css') }}">
{% endblock %}
{% block body %}
<div class="sidebar col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <!--<img src="{{ url_for('static',filename='assets/profilepicture.png') }}"alt="Profile Picture">-->
    <div class="d-none g-signin2" data-onsuccess="getImage"></div>
    <div id = "content"></div>
    
    <div class="button"><a href="recordTraining">Start Training</a></div>
    <div class="button"><a href="team">Team Page</a></div>
    <div class="button"><a href="personal">My Profile</a></div>
    <img src="{{ url_for('static',filename='assets/Skatezy.png') }}" alt="Logo">
</div>
<div class="main col-sm-9 col-md-9 col-lg-9 col-xl-9">
  <h1>Register my team:</h1>
  <form action="/saveteam" method="POST">
    <p name="team_name">
      {{form.team_name.label}}<br>
      {{form.team_name(size=30)}}
    </p>
    <p name="team_description">
      {{form.team_description.label}}<br>
      {{form.team_description(size=30)}}
    </p>
    <p name="rink_location">
      {{form.rink_location.label}}<br>
      {{form.rink_location(size=30)}}
    </p>
    <p name="member_emails">
      {{form.member_emails.label}}<br>
      {{form.member_emails(size=30)}}
    </p>
    <p>{{form.submit()}}</p>
  </form>
        <!--<div class="log-in-buttons">-->
{% endblock %}