{% extends 'base.html' %}

{% block title %}My Team{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
  <!--DISPLAYING DATA FROM FORM SUBMITTED ABOUT TRAINING RECORDED-->
<h3>Team:</h3>  
<table border=5>  
    <thead>
        <td>Team Name:</td>  
        <td>Team Description</td>  
        <td>Rink Location</td>  
        <td>Members</td>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["team_name"]}}</td>
            <td>{{row["team_description"]}}</td>  
            <td>{{row["rink_location"]}}</td>  
            <td>{{row["member_emails"]}}</td>  
        </tr>  
      
    {% endfor %}  
</table>  

<br><br>  
{% endblock %}