{% extends 'base.html' %}

{% block title %}My Team{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/personal.css') }}">
{% endblock %}
{% block body %}
<head>
<meta name = "google-signin-client_id" content="1091033718500-7b3th9hor8oehceki8rjatn51r90eruv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
<div class="sidebar col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <!--<img src="{{ url_for('static',filename='assets/profilepicture.png') }}"alt="Profile Picture">-->
    <div class="d-none g-signin2" data-onsuccess="getImage"></div>
    <div id = "content"></div>
    
    <div class="button"><a href="personal">Profile</a></div>
    <div class="button"><a href="registerTeam">Team Registration</a></div>
    <div class="button"><a href="recordTraining">Start Training</a></div>
    
    <img src="{{ url_for('static',filename='assets/Skatezy.png') }}" alt="Logo">
</div>
<div class="main col-sm-9 col-md-9 col-lg-9 col-xl-9"
  <!--DISPLAYING DATA FROM FORM SUBMITTED ABOUT TRAINING RECORDED-->
<h1>Select location:</h1>
<div class="dropdown">
    <select name="colours" method="GET" action="/">
    {% for name in name_of_rinks %}
    <option value= "{{name}}" SELECTED>{{name}}</option>"
    {% endfor %}
    </select>
</div>
<h1>Team:</h1>  
<table border=5>  
    <thead>
        <td>Team Name:</td>  
        <td>Team Description</td>  
        <td>Rink Location</td>  
        <td>Members</td>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["team_name"]}}</td>
            <td>{{row["team_description"]}}</td>  
            <td>{{row["rink_location"]}}</td>  
            <td>{{row["member_emails"]}}</td>  
        </tr>  
      
    {% endfor %} 

</table>  

</div>  
<script>
function getImage(googleUser){
        var profile = googleUser.getBasicProfile()
        var element = document.querySelector('#content')
        var image = document.createElement('img')
        image.setAttribute('src',profile.getImageUrl())
        element.append(image)
      }
</script> 
{% endblock %}